<div class="home">
  <SearchBox @onQueryChange="onQueryChange" @onCleaningSearch="onCleaningSearch" />
  <SearchFilter v-if="store.state.queryOfUser" class="margin-top" :optionListProp="filterRefList" @onSelectFilter="onSelectFilter" />
  <ul class="home__results-list" v-if="dataToRendererRefList">
    <li class="home__result-item" v-for="dataObj in dataToRendererRefList[0]" :key="dataObj.id">
      <ListItem :item="dataObj" @onClickArtist="onClickArtist" />
    </li>
  </ul>
  <span v-if="dataToRendererRefList.length === 0"> Hi {{userInfoDataToRendererRefList[0].display_name}}. This it's your favorites artists and tracks!! </span>
  <div v-if="dataToRendererRefList.length === 0" class="info-user-container">
    <div class="info-user-item" v-for="dataObj in userFavArtistsDataToRendererRefList">
      <ListItem :item="dataObj" @onClickArtist="onClickArtist" />
    </div>
  </div>
  <div v-if="dataToRendererRefList.length === 0" class="info-user-container">
    <div class="info-user-item" v-for="dataObj in userFavTracksDataToRendererRefList">
      <ListItem :item="dataObj" @onClickArtist="onClickArtist" />
    </div>
  </div>
</div>
