.home {
  &__results-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    list-style: none;
    padding: 32px;
    gap: 32px;
  }
}

.info-user-container {
  display: flex;
  justify-content: center;

  .info-user-item {
    width: 200px;
    margin: 30px;
    justify-content: center;
  }
}

.margin-top {
  margin-top: 10px;
}
