<button class="goBack left" @click="redirectToHome()">Go Back</button>
<div class="display-flex">
  <div class="artist-container">
    <div class="img">
      <div class="img-container">
        <img :src="artistSelectedRefObj.img" :alt="artistSelectedRefObj.name" />
      </div>
    </div>
    <div class="info-container">
      <div>
        <span class="title-span">{{ artistSelectedRefObj.name }}</span>
      </div>
      <div class="follower-div">
        <span class="follower-span">Have <strong>{{ artistSelectedRefObj.followers }}</strong> followers! </span>
      </div>
      <div v-if="artistSelectedRefObj.popularity >= 90 " class="follower-div">
        <span class="follower-span"
          >{{artistSelectedRefObj.name}} it's a superStar!! <br />
          Have a {{artistSelectedRefObj.popularity}} of popularity!</span
        >
      </div>
      <div class="follower-div">
        <span class="follower-span">Is known for these genres: </span>
      </div>
      <div class="genres-container">
        <div v-for="genres in artistSelectedRefObj.genericOfMusic" :key="genres" class="genres-div">{{genres}}</div>
      </div>
      <div class="button-container">
        <ButtonToSpotify :nameStrProp="artistSelectedRefObj.name" @onClickButton="redirectToArtistPageInSpotify" />
      </div>
    </div>
  </div>

  <div class="songs-container">
    <span class="title-span margin-bottom">Albums of {{artistSelectedRefObj.name}}</span>
    <ol class="items-list margin-top">
      <li class="items-list__item" v-for="album in artistSelectedRefObj.albums">
        <img :src="album.img" :alt="album.name" v-on:click="openModal($event, album)" />
        <span class="details"><b>Type</b> {{ album.album_type }}</span>
      </li>
    </ol>

    <transition name="modal-transition" v-if="showModalRefBool">
      <div ref="modal" v-show="showModalRefBool" class="modal" @click="showModalRefBool = false" v-bind:style="{ transformOrigin: modalOriginRefStr }">
        <span class="title-span"><b>Title: </b> {{ albumSelectedRef.name }}</span>
        <img class="margin" v-bind:src="albumSelectedRef.img" v-bind:alt="albumSelectedRef.name" />
        <span class="details"><b>Type</b> {{ albumSelectedRef.album_type }}</span>
        <span class="details"><b>Release Date</b> {{ albumSelectedRef.releaseDate }}</span>
        <span class="details"><b>Album Length</b>: {{ albumSelectedRef.numberOfTracks }} songs</span>
        <ButtonToSpotify class="margin-top" @onClickButton="redirectToAlbumPageInSpotify(albumSelectedRef)" />
      </div>
    </transition>
  </div>
</div>
