@import "@/assets/_colors.scss";

.filter-button {
  border: none;
  background-color: $background-color;
  border-radius: 3px;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  margin: 5px;
  border-radius: 5px;
  &:hover {
    background-color: $hover-color;
  }
}

.filter-button-active {
  background-color: $active-color;
  text-decoration: none;
  &:hover {
    background-color: $active-color;
  }
}
